.test {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.people_block-img {
  border-radius: 10px;
}

@media (max-width: 992px) {
  .people_block-img {
    width: 100%;
  }
  .people_block-img-mobile {
    margin-top: 20px;
  }
}
